container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate &&  python manage.py migrate"
    leader_only: true
  02_start:
    command: "source /var/app/venv/*/bin/activate && nohup python manage.py runserver 8000 > /dev/null 2>&1 &"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "eshop.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

