packages: 
 yum:
  sqlite-devel: []

files:
  "/etc/httpd/conf.d/update.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      	LoadModule rewrite_module modules/mod_rewrite.so
	LoadModule proxy_module modules/mod_proxy.so
	LoadModule proxy_http_module modules/mod_proxy_http.so
	LoadModule mpm_event_module modules/mod_mpm_event.so
	<VirtualHost *:80>
    		ServerName www.votredomaine.com
    		ProxyRequests Off
    		ProxyPass / http://localhost:8000/
    		ProxyPassReverse / http://localhost:8000/
	</VirtualHost>

container_commands:
  02_migrate:
    command: "source /var/app/venv/*/bin/activate &&  python manage.py migrate"
    leader_only: true
  03_start:
    command: "source /var/app/venv/*/bin/activate && nohup python manage.py runserver 8000 > /var/log/django_runserver.log 2>&1 &"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "eshop.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

