packages: 
 yum:
  sqlite-devel: []

files:
  "/etc/httpd/conf.d/update.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
       LoadModule rewrite_module modules/mod_rewrite.so
       LoadModule proxy_module modules/mod_proxy.so
       LoadModule proxy_http_module modules/mod_proxy_http.so
       LoadModule mpm_event_module modules/mod_mpm_event.so
       <VirtualHost *:80>
         ProxyRequests Off
         ProxyPass / http://localhost:8000/
         ProxyPassReverse / http://localhost:8000/
       </VirtualHost>
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_workers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      service httpd restart
      source /var/app/venv/*/bin/activate && nohup python manage.py runserver 0.0.0.0:8000 >/dev/null 2>&1 &

container_commands:
  01_restart:
    command: "yum install -y sqlite-devel"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate &&  python manage.py migrate"
    leader_only: true
  03_start:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "eshop.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "eshop.wsgi:application"
